doctype html
html(lang="en")
  head
    title Login Form In Pug
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='style.css')
  body
    #main
     form(action="#")
       div.label login form
       div.username
        input(type="text" placeholder="username")
       div.password
        input(type="password" placeholder="password")
       div.checkbox
        input(type='checkbox' name='agreement' checked)
        |Remember me
       button(type="button") login
       h3 or login with
       div.social
        //- button(type="button") <i class="fa fa-facebook"></i>
       a(href='https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&prompt=consent&scope=https://www.googleapis.com/auth/plus.me https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile&response_type=code&client_id=881879350263-t8dmfvgst5j6sotkh7ipjugf8tb5aqpo.apps.googleusercontent.com&redirect_uri=http://localhost:8080/api/user/callback')
        button(type="button") 
         <i class="fa fa-google"></i>